site_name: gpxtrackposter
site_description: Create a visually appealing poster from your GPX tracks
repo_url: https://github.com/lowtower/gpxtrackposter
repo_name: gpxtrackposter
use_directory_urls: false

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: grey
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: white
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
plugins:
  - search
  - autorefs
  - section-index
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - gpxtrackposter
      options:
        show_root_heading: true
        show_source: true
      watch:
        paths:
          - gpxtrackposter

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.magiclink
  - pymdownx.superfences
